---
import LandingHeader from "../components/LandingHeader.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import LandingFooter from "../components/LandingFooter.astro";
---

<Layout title="Tesla - El coche de tus sueños">
  <LandingHeader />
  <div
    class="relative w-full h-screen overflow-auto snap-y snap-mandatory scroll-smooth"
  >
    <main>
      <div>
        <div class="snap-center">
          <Section
            title="Disfrute de Tesla"
            subtitle="Programe una prueba de conducción hoy mismo"
            color="white"
          >
            <div slot="buttons" class="">
              <a
                href="#"
                class="border-white border-[3px] text-base rounded text-white bg-white/5 backdrop-blur-lg font-medium px-20 py-2 hover:bg-white hover:text-black"
                >Prueba de conducción</a
              >
            </div>
            <video
              slot="media"
              src="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto,q_auto/Homepage-Test_Drive-NA-Desktop.mp4"
              class="object-center object-cover h-full w-full"
              autoplay
              muted
              loop></video>
          </Section>
        </div>
        <div class="snap-center">
          <Section
            title="Model Y"
            subtitle="Concertar una prueba de conducción"
            color="black"
          >
            <div
              class="flex flex-col gap-6 md:flex-row justify-center w-80 mx-auto md:w-full"
              slot="buttons"
            >
              <a
                href="#"
                class="text-white border-zinc-700 border-[3px] text-base rounded bg-zinc-700 font-medium px-12 py-1"
                >Explorar inventario</a
              >
              <a
                href="#"
                class="text-gray-600 border-white border-[3px] text-base rounded bg-zinc-50 font-medium px-12 py-1"
                >Pedido Personalizado</a
              >
            </div>
            <img
              slot="media"
              src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_2400,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-Y-Global-Desktop"
              alt=""
              class="object-center object-cover h-full w-full"
            />
          </Section>
        </div>
        <div class="snap-center">
          <Section
            title="Model 3"
            subtitle="Concertar una prueba de conducción"
            color="black"
          >
            <div
              class="flex flex-col gap-6 md:flex-row justify-center w-80 md:w-full mx-auto"
              slot="buttons"
            >
              <a
                href="#"
                class="text-white border-zinc-700 border-[3px] text-base rounded bg-zinc-700 font-medium px-12 py-1"
                >Explorar inventario</a
              >
              <a
                href="#"
                class="text-gray-600 border-white border-[3px] text-base rounded bg-zinc-50 font-medium px-12 py-1"
                >Pedido Personalizado</a
              >
            </div>
            <img
              slot="media"
              src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_2560,w_4096,c_fit,f_auto,q_auto:best/Homepage-Model-3-Desktop-LHD"
              alt=""
              class="object-center object-cover h-full w-full"
            />
          </Section>
        </div>
        <div class="snap-center">
          <Section
            title="Model S"
            subtitle="Concertar una prueba de conducción"
            color="black"
          >
            <div
              class="flex flex-col gap-6 md:flex-row justify-center w-80 md:w-full mx-auto"
              slot="buttons"
            >
              <a
                href="#"
                class="text-white border-zinc-700 border-[3px] text-base rounded bg-zinc-700 font-medium px-12 py-1"
                >Explorar inventario</a
              >
              <a
                href="#"
                class="text-gray-600 border-white border-[3px] text-base rounded bg-zinc-50 font-medium px-12 py-1"
                >Pedido Personalizado</a
              >
            </div>
            <img
              slot="media"
              src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-S-homepage-desktop"
              alt=""
              class="object-center object-cover h-full w-full"
            />
          </Section>
        </div>
        <div class="snap-center">
          <Section
            title="Model X"
            subtitle="Concertar una prueba de conducción"
            color="black"
          >
            <div
              class="flex flex-col gap-6 md:flex-row justify-center w-80 md:w-full mx-auto"
              slot="buttons"
            >
              <a
                href="#"
                class="text-white border-zinc-700 border-[3px] text-base rounded bg-zinc-700 font-medium px-12 py-1"
                >Explorar inventario</a
              >
              <a
                href="#"
                class="text-gray-600 border-white border-[3px] text-base rounded bg-zinc-50 font-medium px-12 py-1"
                >Pedido Personalizado</a
              >
            </div>
            <img
              slot="media"
              src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-X-Desktop-LHD"
              alt=""
              class="object-center object-cover h-full w-full"
            />
          </Section>
        </div>
        <div class="snap-center">
          <Section
            title="Solar y Powerwall"
            subtitle="Energía para todos"
            color="black"
          >
            <div slot="buttons" class="w-80 md:w-64 mx-auto">
              <a
                href="#"
                class="bg-zinc-700 text-white text-sm rounded block font-medium py-3 hover:bg-white hover:text-black"
                >Comprar ahora</a
              >
            </div>
            <img
              slot="media"
              src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Desktop_SolarPanels"
              alt=""
              class="object-center object-cover h-full w-full"
            />
          </Section>
        </div>
        <div class="snap-center">
          <Section title="Accesorios" subtitle="" color="black">
            <div slot="buttons" class="w-80 md:w-64 mx-auto">
              <a
                href="#"
                class="bg-zinc-700 text-white text-sm rounded block font-medium py-3 hover:bg-white hover:text-black"
                >Comprar ahora</a
              >
            </div>
            <img
              slot="media"
              src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Desktop_Accessories"
              alt=""
              class="object-center object-cover h-full w-full"
            />
          </Section>
        </div>
      </div>
    </main>

    <LandingFooter />
  </div>
</Layout>
