<footer class="snap-center">
  <nav>
    <ul
      class="flex flex-col md:flex-row items-center md:justify-center gap-3 [&>li>a]:text-gray-600 [&>li>a]:text-sm mb-8"
    >
      <li><a href="#">Tesla ©️ 2023</a></li>
      <li><a href="#">Privacidad y legal</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Noticias</a></li>
      <li><a href="#">Seguir informado</a></li>
      <li><a href="#">Localización de tiendas</a></li>
    </ul>
  </nav>
</footer>
